# Python cache
__pycache__/
*.pyc

# Virtual environment
qenv/
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# (Optional) If model checkpoints become very large later
*.pth
*.pt